$darkgreen-bg : #093545;
$primary : #2BD17E;
$error-clr : #EB5757;
$card-bg: #092C39;
$card-hvr-bg: #1e424e;
$input-clr : #224957;
$white :  #fff;
$black : #000;
$fw-400 : 400;
$fw-500 : 500;
$fw-700 : 700;
$fw-900 : 900;
$radius : 10px;
$transition : all 0.3s ease;